/* pieces background colors*/
.white {
    background-color: #f6f6f6;
}

.yellow {
    background-color: #f4f740;
}

.cyan {
    background-color: #00E4FF;
}

.red {
    background-color: #F60000;
}

.green {
    background-color: #69B625;
}

.orange {
    background-color: #FF8D00;
}

.pink {
    background-color: #FF51BC;
}

.violet {
    background-color: #9F0096;
}

/* index style*/
div.init-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

div.main-title {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

div.container-button {
    position: relative;
    padding: 10px;
    text-align: center;
}

button.button-play {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}

button.button-play:hover {
    font-family: 'Roboto Mono', monospace;
    border: none;
    cursor: pointer;
}

/* board and panel styles*/

body {
    margin: 0;
    padding: 0;
}

table {
    display: inline;
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
}

td {
    border: 1px solid white;
    width: 5vh;
}

tr {
    height: 5vh;
}

div.board-container {
    visibility: hidden;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-spacing: 0;
    border-collapse: collapse;
}

div.board {
    position: relative;
    left: 0;
    top: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

div.panel {
    border-spacing: 0;
    border-collapse: collapse;
    display: inline;
}