/* pieces background colors*/

.white {
    background-color: #f6f6f6;
}

.yellow {
    background-color: #f4f740;
}

.cyan {
    background-color: #00E4FF;
}

.red {
    background-color: #F60000;
}

.green {
    background-color: #69B625;
}

.orange {
    background-color: #FF8D00;
}

.pink {
    background-color: #FF51BC;
}

.violet {
    background-color: #9F0096;
}

/* index style */

div.index-container {
    visibility: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

div.main-title {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 50px;
    /*padding: 10px;*/
}

div.container-button {
    position: relative;
    padding: 10px;
    text-align: center;
}

button.button-play {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}

button.button-play:hover {
    font-family: 'Roboto Mono', monospace;
    border: none;
    cursor: pointer;
}

/* board and panel styles*/

body {
    padding: 0px;
    margin: 0px;
}

table.board {
    visibility: hidden;
    border-spacing: 0;
    border-collapse: collapse;
    height: var(--height);
    width: var(--width);
    text-align: center;
    margin: auto;
    border: 1px double grey;
}

td.panel {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
}

#panel-next-0 #panel-next-1 #panel-next-2 #panel-next-3 #panel-next-4 #panel-next-5 #panel-next-6 #panel-next-7 #panel-next-9 #panel-next-10 #panel-next-11{
    background-color: #f6f6f6;
}

#panel-score-value {
    font-size: 3vh;
}

td {
    border: 1px solid white;
    width: calc(100%/13);
    line-height: 0px;
}

button.panel-but {
    font-size: 3vh;
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    line-height: 0px;
    cursor: pointer;
    outline: none;
}

button.panel-but:active {
    color: white;
    transition: all 0.2s;
}

td:nth-child(10) {
    border-right: 1px solid grey;
}

tr:nth-child(1) {
    border-top: 1px double grey;
}

tr:nth-child(20) {
    border-bottom: 1px double grey;
}